.category-section {
    display: grid;
    grid-template-columns: auto auto;
}

.category-section ul {
    display: grid;
    grid-template-columns: auto auto auto;
}
.category-section input {
    height: 30px;
    align-self: center;
}

.category-section ul li {
    margin: 10px 30px;
    background-color: #00aaaa;
    color: #000;
    padding: 18px;
    border-radius: 4px;
}